.box{
	width:90px;
	length:80px;
	font-size:50px;
	text-align:start;
	padding-top:20px;
}
.box.red{
	background-color:red;
}
.box.green{
	background-color:green;
}
.box.blue{
	background-color:blue;
}
.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap:wrap;
}
